@tailwind base;
@tailwind components;
@tailwind utilities;

.ludus-bg {
    background: radial-gradient(50% 50% at 50% 50%, #1E6A5F 0%, rgba(30, 106, 98, 0.76) 26%, rgba(26, 109, 127, 0.46) 62%, rgba(21, 49, 52, 0.14) 100%);
}

.ludus-bg-modal {
    background: #153134;
    box-shadow: 9px 3px 10.6px -4px rgba(0, 0, 0, 0.60);
}

.ludus-button {
    background: linear-gradient(90deg, #75B97C 0%, #4EA199 52%, #2478BC 100%);
    transition: background-color 0.3s ease; 
}

.ludus-button:hover {
    background: linear-gradient(90deg, #2478BC 0%, #4EA199 48%, #75B97C 100%);
    transition: background-color 0.3s ease; 
}

.ludus-button-random{
    background: linear-gradient(90deg, #FE7F12 0%, #4EA199 52%, #75B97C 100%);
    transition: background-color 0.3s ease; 
}

.ludus-button-random:hover{
    background: linear-gradient(90deg, #75B97C 0%, #4EA199 52%, #FE7F12 100%);
    transition: background-color 0.3s ease; 
}




